{% load static %}
<div class="header-bottom">
				<div class="header-bottom__container">
					<div class="header-bottom__menu menu">
						<nav class="menu__body">
							<ul class="menu__list" data-spoilers="991.98">
								{% if user.affair %}<li class="menu__item"><a href="{% url 'affairs' %}" class="menu__link">Состояние дела</a></li>{% endif %}
								<li class="menu__item"><a href="{% url 'profile' %}" class="menu__link">Профиль</a></li>

								<li class="menu__item">
                                  <a href="{% url 'tasks' %}" class="menu__link">Задания</a>
                                </li>
								<li class="menu__item">
									<a href="{% url 'shop' %}" class="menu__link" data-spoiler>Магазин</a>
								</li>
								<li class="menu__item"><a href="#" class="menu__link">Новости</a></li>

							</ul>
							<ul class="menu__list">
								<li class="menu__item"><a href="{% url 'support' %}" class="menu__link">Поддержка</a></li>
							</ul>

						</nav>
					</div>
				</div>
			</div>