{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="login section-top section-bottom">
				<div class="login__container">
					<div class="content-block">
						<div class="content-block__left">
							<div class="content-block__line"></div>
						</div>
						<div class="content-block__info">
							<h2 class="content-block__title title">Спасибо за регистрацию!</h2>
                            <div style="font-size:1.5em">
                            <p>Письмо с подтверждением регистрации отправлено на вашу почту</p>
                                <br>
                            <p>Если вы не получили письмо, то проверьте папку со спамом.</p>

                            </div>

						</div>

					</div>
				</div>
			</section>
{% endblock %}