{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="login section-top section-bottom">
				<div class="login__container">
					<div class="content-block">
						<div class="content-block__left">
							<div class="content-block__line"></div>
						</div>
						<div class="content-block__info">
							<h2 class="content-block__title title">Восстановление пароля</h2>
							<form class="form" method="post">
								{% csrf_token %}
								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="name">Введите ваш E-mail<span>*</span></label>
										<div class="form__input">
											{{ form.email }}
										</div>
									</div>
								</div>
								<div class="form__row">
									<div class="form__text _recovery">
										На указанный адрес вам придет ссылка для смены пароля
									</div>
									<button class="form__button button" type="submit">Отправить</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
{% endblock %}