{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="login section-top section-bottom">
				<div class="login__container">
					<div class="content-block">
						<div class="content-block__left">
							<div class="content-block__line"></div>
						</div>
						<div class="content-block__info">
							<h2 class="content-block__title title">Восстановление пароля завершено</h2>
							<p style="font-size:1.4em">Ваш пароль был сохранен. Теперь вы можете войти</p>
							<div>
								<div class="form__row">
									<a class="form__button button" href="{% url 'login' %}">Войти</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
{% endblock %}