{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="login section-top section-bottom">
				<div class="login__container">
					<div class="content-block">
						<div class="content-block__left">
							<div class="content-block__line"></div>
						</div>
						<div class="content-block__info">
							<h2 class="content-block__title title">Письмо с инструкциями по восстановлению пароля отправлено</h2>
							<p style="font-size:1.4em">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
								<br>Вы должны получить ее в ближайшее время.
								<br>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались,
								и проверьте папку со спамом.</p>
							<div>
								<div class="form__row">
									<a class="form__button button" href="{% url 'login' %}">На главную</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
{% endblock %}